/**
 * Uses cropper javascript widget from https://github.com/fengyuanchen/cropper
 *
 * Author: Joseba Juaniz
 * Year: 2015
 * 
 * Modified by: Ashis Kumar Mohanty
 * Year: 2017
 */

.uploadcrop {
    position: relative;
    min-height: 250px;
    margin-bottom: 25px;
    width: 100%;
    color: #666;
    text-align: center;
}

.uploadcrop input {
    display: none;
}

.uploadcrop .cropper-wrapper {
    height: 364px;
    width: 100%;
    margin-top: 15px;
    border: 1px solid #eee;
    background-color: #fff;
    overflow: hidden;
}

.uploadcrop .cropper-wrapper img {
    display: block;
    height: auto;
    max-width: 100%;
}

.uploadcrop .cropper-preview {
    float: left;
    margin-top: 15px;
    margin-right: 15px;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
}

.uploadcrop .cropper-preview img {
    width: 100%;
}

.uploadcrop .preview-lg {
    height: 184px;
    width: 184px;
    margin-top: 15px;
}

.uploadcrop .preview-md {
    height: 100px;
    width: 100px;
}

.uploadcrop .preview-sm {
    height: 50px;
    width: 50px;
}

@media (min-width: 992px) {
    .uploadcrop .cropper-preview {
        float: none;
    }
}

.uploadcrop .cropper-btns {
    margin-top: 10px;
    margin-bottom: 10px;
}

.uploadcrop .cropper-btns .btn-group {
    margin-right: 5px;
}


/* Label re-structure */

.uploadcrop label.control-label,
.uploadcrop .preview-pane {
    font-weight: 400;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.uploadcrop .preview-pane {
    z-index: 500;
    top: 12%;
    height: 88%;
}

.uploadcrop label.control-label {
    z-index: 600;
    cursor: pointer;
    text-align: center;
}

.uploadcrop .form-group {
    margin-bottom: 0px;
}

.uploadcrop .preview-pane .preview-container {
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
}

.uploadcrop .preview-pane .preview-container img {
    max-width: 100%;
    max-height: 100%;
}

.uploadcrop .help-block {
    position: absolute;
    bottom: -27px;
    left: 0;
    text-align: center;
    width: 100%;
}

.uploadcrop .modal h2 {
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
}


/* Solid line around cropper */

.uploadcrop-solid-border {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px 16px;
    line-height: 1.3333333;
    border-radius: 6px;
    margin-bottom: 20px;
}


/* Dotted line around cropper */

.uploadcrop-dotted {
    border: 1px dashed #ccc;
    margin-bottom: 35px;
}

.uploadcrop-solid-border .uploadcrop,
.uploadcrop-dotted .uploadcrop {
    margin-bottom: 0px;
}

.uploadcrop-solid-border .uploadcrop .help-block,
.uploadcrop-dotted .uploadcrop .help-block {
    bottom: -37px;
}
